
  <body>
    <div class="container">
      <h2 class="book-now-heading">Book Your Movie Now</h2>
      <div class="form-group">
        <div class="search-box">
          <label for="citySelect">Select City:</label>
          <select [(ngModel)]="cityID" (change)="getMultiplexByCityID()" class="form-control" id="citySelect">
            <option *ngFor="let item of cities" [value]="item.cityID">{{ item.cityName }}</option>
          </select>
        </div>
        <div class="search-box">
          <label for="multiplexSelect">Select Multiplex:</label>
          <select [(ngModel)]="mulID" (change)="getMovieByMultiplexID()" class="form-control" id="multiplexSelect">
            <option *ngFor="let item of multiplexes" [value]="item.mulID">{{ item.mulName }}</option>
          </select>
        </div>
      </div>
    </div>
    
    
    
  
    
    <div class="container">
      <div class="movie-tiles">
        <div *ngFor="let movie of movies" class="movie-tile">
          <img src="http://localhost:5084/Resources/Images/{{movie.imageUrl}}" alt="" width="100" height="100">
          <h3>{{movie.movName}}</h3>
          <p>Release Date: {{movie.releaseDate | date:'dd/MM/YYYY'}}</p>
          <button class="btn btn-primary" (click)="getShowByMovieID(movie.movieID)">Select</button>
        </div>
      </div>
    </div>
    
  
  
  <!-- <div class="container">
    <div class="form-group">
      <label for="movieSelect">Select Movie:</label>
      <select [(ngModel)]="movieID" (change)="getShowByMovieID()" class="form-control" id="movieSelect">
        <option *ngFor="let movie of movies" [value]="movie.movieID">{{ movie.movName }}</option>
      </select>
    </div> -->
  
   
  
  
    <div *ngIf="shows.length > 0" class="shows-container">
      <h3>Shows for Selected Movie:</h3>
      <div class="show-tiles">
        <div *ngFor="let show of shows" class="show-tile">
          <div class="show-info">
            <p><strong>Show Date:</strong> {{ show.showDateTime | date: 'dd/MM/yyyy' }}</p>
            <p><strong>Show Timing:</strong></p>
            <select [(ngModel)]="show.selectedTiming" class="form-control">
              <option *ngFor="let timing of showTimings" [value]="timing">{{ timing }}</option>
            </select>
            <p><strong>Total Seatings:</strong> {{ show.totalSeatings }}</p>
          </div>
          <button class="btn btn-primary" (click)="getSeatingByShowID(show.showID)">Book Movie</button>
        </div>
      </div>
    </div>
    
  
  
  
  
   