<div class="container">
    <div class="form-group">
      <label for="citySelect">Select City:</label>
      <!-- <input type="number" id="citySelect" class="form-control" [(ngModel)]="cityID"> -->
      <select  [(ngModel)]="cityID" (change)="getMultiplexByCityID()">
  
          <option *ngFor="let item of cities" [value]="item.cityID">{{item.cityName}}</option>
      </select>
      <!-- <button class="btn btn-primary mt-2" (click)="getMultiplexByCityID()">Filter Multiplexes</button> -->
    </div>
  
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let multiplex of multiplexes">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Multiplex Name: {{ multiplex.mulName }}</h5>
              <p class="card-text">Multiplex ID: {{ multiplex.mulID }}</p>
              <p class="card-text">City ID: {{ multiplex.cityID }}</p>
              <p class="card-text">Screen Number: {{ multiplex.screenNumber }}</p>
              <div>
                <button class="btn btn-info" (click)="getId(multiplex.mulID)">Edit</button>
                <button class="btn btn-primary" (click)="delete(multiplex.mulID)">Delete</button>
                <button class="btn btn-secondary" (click)="getId(multiplex.mulID)">View</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>