<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let city of cities">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{city.cityName}}</h5>
                    <p class="card-text">CityID: {{city.cityID}}</p>
                    <button class="btn btn-info" (click)="getId(city.cityID)">Edit</button>
                    <button class="btn btn-primary" (click)="delete(city.cityID)">Delete</button>
                    <button class="btn btn-secondary" (click)="getId(city.cityID)">View</button>
                </div>
            </div>
        </div>
    </div>
</div>
