.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-image: url('../../../../assets/register1.jpg');
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 85vh;
}

.register-form {
    width: 40%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(249, 249, 249, 0.5); 
   
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.invalid-feedback {
    color: red;
}

.btn {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-warning {
    background-color: #ffc107;
    color: #fff;
}

.btn-info {
    background-color: #17a2b8;
    color: #fff;
}

.float-right {
    float: right;
}

.mr-2 {
    margin-right: 8px;
}
